/*
This is just a placeholder blank stylesheet so as to support adding custom styles budled with theme's default styles

Read https://github.com/adityatelange/hugo-PaperMod/wiki/FAQs#bundling-custom-css-with-themes-assets for more info
*/

a:hover {
  opacity: 80%;
}

.chroma {
  background-color: unset;
}

.highlight pre {
  background-color: #dc4823;
}

/* .highlight pre code{
    border-radius: 0;
} */

