{{ $bib := slice }}
{{ range .bibliography }}
    {{/*  Reshaping Zotero .JSON  */}}
    {{ $authors := dict "authors" .author }}
    {{ $title := dict "title" .title }}
    {{ $doi := dict "doi" .DOI }}
    {{ $journal := dict "journal" (index . "container-title") }}
    {{ $year := dict "year" (index (index (index .issued "date-parts") 0) 0)}}
    {{ $pages := dict "pages" .page }}
    {{ $volume := dict "volume" .volume }}

    {{ $elem := merge $authors $title $doi $journal $year $pages $volume }}

    {{ $bib = $bib | append $elem }}
{{ end }}

<!-- Accepted and Published papers -->
{{ if not (eq ($bib | len) 0) }}
  <h2>Published Articles</h2>
  <ol>
  {{ range sort $bib "year" "desc"}}
      <li>{{ partial "publication.html" . }}</li>
  {{ end }}
  </ol>
{{ end }}


<!-- Preprints if there are any valid ones at the moment -->
{{ if not (eq (.preprints  | len) 0) }}
  <h2>Preprints</h2>
  <ul>
  {{ range .preprints }}
    {{ $year := (index (index (index .issued "date-parts") 0) 0)}}
    <li>
    <div>
      {{ partial "author_list.html" .author }}
      <span><b>"{{ .title }}"</b></span> 
      <span>({{ $year }})</span>
      <span><a href="https://doi.org/{{ .DOI }}">{{ .DOI }}</a></span>
    </div>
    </li>
  {{ end }}
  </ul>
{{ end }}

<!-- Conference and Invited talks  -->
{{ if not (eq (.talks | len) 0) }}
  <h2>Talks</h2>

  <ul>
  {{ range sort .talks "date" "desc" }}
    <li>
    <div>
      <span><b>"{{ .title }}"</b>,</span>
      <span> {{ time.Format "January _2 2006" .date }}, </span>

      <br><span><i>{{ .venue }}</i></span>
      {{ if .slides }}
      <span>, <a href="{{ .slides }}">slides</a></span>
        {{ if .source }}
        <span>, <a href="{{ .source }}">source</a></span>
        {{ end }}
      {{ end }}
      {{ if .comment }}
        <br><span><i>*{{ .comment }}</i></span>
      {{ end }}
    </div>
    </li>
  {{ end}}
  </ul>
{{ end}}

</br>
